In [11]:
# read data and do prediction
from sklearn import linear_model #for creating ml model
#from sklearn.datasets import load_boston
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
#import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [21]:
data1=pd.read_csv(r"C:\Users\KUMAKUND\Downloads\insurance_py2.csv")
type(data1)
data1.head()

pandas.core.frame.DataFrame

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       4  16884.92400
1   18    1  33.770         1       0       3   1725.55230
2   28    1  33.000         3       0       3   4449.46200
3   33    1  22.705         0       0       2  21984.47061
4   32    1  28.880         0       0       2   3866.85520

In [22]:
ind_var1=data1.iloc[0:1000,0:6]
ind_var1.head()

   age  sex     bmi  children  smoker  region
0   19    0  27.900         0       1       4
1   18    1  33.770         1       0       3
2   28    1  33.000         3       0       3
3   33    1  22.705         0       0       2
4   32    1  28.880         0       0       2

In [23]:
type(ind_var1)

pandas.core.frame.DataFrame

In [24]:
dep_var1=data1.iloc[0:1000,6]
dep_var1.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [25]:
type(dep_var1)

pandas.core.series.Series

In [26]:
test1=pd.read_csv(r"C:\Users\KUMAKUND\Downloads\insurance_test.csv")
# test2=test1.iloc[0, 0:]
type(test1)
print(test1)

pandas.core.frame.DataFrame

   age  sex  bmi  children  smoker  region
0   38    0   25         3       0       2

In [27]:
model1=linear_model.LinearRegression()
model1.fit(ind_var1, dep_var1)

LinearRegression()

In [29]:
result1=model1.predict(test1)
print(result1)
type(result1)

[7211.78816678]

numpy.ndarray

In [30]:
list1=[1000,2000,3000]
list1[0]
list1[0]=1001
list1

1000

[1001, 2000, 3000]

In [ ]:
#tuple
sales1 = (1000,2000,3000,4000)
sales1
type(sales1)
sales1[0]
sales[0]=1001 # throws error because its immutable. Often historical data will be stored in tuple.

In [32]:
#Dictionary, key value pair, when the key names is a popular, easy to remember names.
dict1 = {"tear1":1000, "year2":2000, "year3":3000}
dict1
type(dict1)
dict1["year2"]=1001 # no issue in modifting
dict1

{'tear1': 1000, 'year2': 2000, 'year3': 3000}

dict

{'tear1': 1000, 'year2': 1001, 'year3': 3000}

In [33]:
set1 = {"laptop", "desktop", "mobile device"}
print(set1)
set1 = {"laptop", "desktop", "mobile device", "laptop"}
set1 #by default, set show only unique value.

{'laptop', 'mobile device', 'desktop'}

{'desktop', 'laptop', 'mobile device'}

In [35]:
st1="testing"
st1
#convert it to list and do the operation
#unpack function is used
list1 = [*st1]
list1
#can apply all the properties of the list to manipulate strings.
str2="python" + "test"
str2

'testing'

['t', 'e', 's', 't', 'i', 'n', 'g']

'pythontest'

In [ ]:
#overview of python regular expression. way to search in string and manipulate.
#making our won function
#making your own library in python
#object oriented programming

import random as rn
import mylib1 as m1
res1= m1.func1(sales1,spend1)
res1

In [36]:
sales1=[9914, 40487,54324,50044,34719,42551,94871,118914,158484,131348,78504,36284]
spend1=[1000, 4000,5000,4500,3000,4000,9000,11000,15000,12000,7000,3000]

In [46]:
for i in sales1:
    if i > 50000 :
        print(i)
print("end of for")

if len(sales1) < 10 :
    print("more than 10 items")
else:
    print("Less than 10 items")

54324
50044
94871
118914
158484
131348
78504
end of for
Less than 10 items

In [51]:
def fun1(val1):
    print("inside fun1 " + str(val1))
    print(4+5)

#calling function fun1
fun1(10)

#Write a function which takes the path of csv file and reads it and prints the header.
import pandas as pd
def print_file (file_path) :
    df=pd.read_csv(file_path)
    print(df.head())
    
print_file(file_path)

inside fun1 10
9

In [ ]:
# make a library where we store our function print_file
import the library and use the function from there.
folder - teach_academy_modules
file - common funtion
function - print_file

In [ ]:
from tech_academy_modules import common_functions as cf
file_path="c:/in/insurance_py.csv"
cf.print_file(file_path)

In [ ]:
import os
os.path

In [ ]:
steps
1. Find the library path (import os; os.path)
2. Make a folder with same as module name
3. Make a file with ex.py
4. Write the function in the .py file

from <module_name> import file as f1
f1.function()